
.App {

  text-align: center;
  background-color: black;
  font-family: 'Rammetto One', cursive;

}
body {
  background-color: black;
}
.Sliders  {
  background-color: gray;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App-header {
  background-color: #222;
  color: white;
  font-size: 2em;

}

h1 {
  height: 150px;
  padding: 20px;
  
}

h3 {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0em;
  padding-bottom: 0em;
}



.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Extra-Stuff {
  
  color: black;
  height: 500px;
  background-repeat: no-repeat;
  background-image: url(./images/Color+wheel_4b46cb_5222455.gif);
  height: 30em;
  width: 30em;
  
}

.img_container{
  display:flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  align-content: center;
  
}

